:root {
  --main-content-width: 1130px;
  --main-color: #0A66C2;
  --main-text-color: rgba(0, 0, 0, 0.6);
  --subscribe-button-hover: rgb(236, 235, 235);
  --login-button-hover: rgb(235, 246, 255);
  --google-button-hover: #5fa1e2;
}

body {
  max-width: 1920px;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

button {
  all: unset;
  cursor: pointer;
}

/*Блок хедер*/
.header {
  width: var(--main-content-width);
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  width: 510px;
  height: 55px;
  margin-left: 210px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 8px;
  box-sizing: border-box;
}

.header__link:last-child {
  width: 95px;
  height: 50px;
}

.header__link:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.header__link {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 64px;
  text-align: center;
  box-sizing: border-box;
  color: var(--main-text-color);
  text-decoration: none;
}

.header__link img {
  width: 24px;
  height: 24px;
}

.header__link p {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.header__link:hover {
  color: black;
}

.header-buttons {
  width: 300px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.header__subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 50px;
  color: black;
  opacity: 0.75;
  text-decoration: none;
}

.header__login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50px;
  text-decoration: none;
}

.header__subscribe-button:hover {
  background-color: var(--subscribe-button-hover);
}

.header__login-button:hover {
  background-color: var(--login-button-hover);
}
/*Блок хедер*/

.welcome {
  max-width: var(--main-content-width);
  height: 605px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
  overflow: hidden; /*Чи потрібна тут ця властивість?*/
  position: relative;
}

.main-bg-image {
  position: absolute;
  top: 55px;
  bottom: 0;
  right: -125px;
}

h1 {
  width: 570px;
  font-size: 50px;
  line-height: 65px;
  font-weight: 400;
  color: var(--main-text-color);
  margin: 0;
  margin-top: 50px;
}

.google,
.microsoft,
.google-post {
  width: 440px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 25px;
  background-color: var(--main-color);
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
}

.continue-btn a {
  text-decoration: none;
}

.google:hover {
  background-color: var(--google-button-hover);
}

.microsoft,
.google-post {
  gap: 12px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid var(--main-text-color);
  color: rgb(29, 4, 4);
  font-size: 18px;
  line-height: 21px;
}

.microsoft:hover,
.google-post:hover {
  background-color: var(--subscribe-button-hover);
}

.continue-policy,
.first-on-linkedin {
  display: block;
  width: 440px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-text-color);
  margin: 0;
  margin-top: 25px;
}

.continue-policy a {
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: var(--main-color);
}

.first-on-linkedin {
  font-size: 16px;
  line-height: 25px;
}

.first-add-to-linkedin {
  text-decoration: none;
  color: var(--main-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}